@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-spinner {
        -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
}

#app {
    @apply flex min-h-screen w-screen flex-col items-center justify-center bg-bg;
}
